{% extends "template.html" %}
{% block content %}
    <div class="container">
        <div class="row mt-4">
            <h1>Account Information</h1>
        </div>
        <div class="row mt-5">
            <div class="col-md-2">
                <ul class="list-group">
                    <li class="list-group-item">Rank: </li>
                    <li class="list-group-item">Username: </li>
                    <li class="list-group-item">Email: </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">{{ user.rank }}</li>
                    <li class="list-group-item">{{ user.username }} </li>
                    <li class="list-group-item">{{ user.email }} </li>
                </ul>
            </div>
            
    </div>
        <div class="row mt-4">
            <div class="col-md-2">
                <ul class="list-group">
                    <li class="list-group-item">Challenges: </li>
                </ul>
                <a href="{{ url_for('create') }}" class="btn btn-blue btn-block btn-shadow mt-3" role="button">Create Challenge<a></a>
            </div>
            {% if levels %}
                <div class="col-md-3">
                <div class="list-group" id="list-tab" role="tablist">
                        {% for level in levels %}
                            {% if loop.index == 1 %}
                                <a class="list-group-item list-group-item-action active" id="list-{{level.id}}-list" data-toggle="list" href="#list-{{level.id}}" role="tab" aria-controls="{{level.id}}">{{level.title}}</a>
                            {% else %}
                                <a class="list-group-item list-group-item-action" id="list-{{level.id}}-list" data-toggle="list" href="#list-{{level.id}}" role="tab" aria-controls="binary">{{level.title}}</a>
                            {% endif %}
                        {% endfor %}
                </div>
                </div>
                <div class="col-md-7 description">
                    <div class="tab-content" id="nav-tabContent">
                        {% for level in levels %}
                            {% if loop.index == 1 %}
                                <div class="tab-pane fade show active" id="list-{{level.id}}" role="tabpanel" aria-labelledby="list-{{level.id}}-list">{{level.description}}</div>
                            {% else %}
                                <div class="tab-pane fade" id="list-{{level.id}}" role="tabpanel" aria-labelledby="list-{{level.id}}-list">{{level.description}}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% endblock %}