{% extends "template.html" %}
{% block content %}
  <style>
    body {
    overflow: hidden;
}
#editor {
    position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
}

.bg-blue{
    background-color: #7C98B3;
    color: #ffffff;
}

.firstRow{
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color: #ffffff;
}

.nopadding{
    padding: 0px !important;
    margin: 0px !important;
}

#cancelModal{
    color: black;
}

.editor{
    height: 700px;
    width: 100%;
}

.description{
    color: #ffffff;
    background-color: #7C98B3;
}

.btn-dropcode{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #7C98B3;
    background-color: #ffffff;
    vertical-align: middle;
    text-align: center;
    margin-top: 10%;
    width: 35%;
}

.console{
    background-color: #ffffff;
    width:100%;
    height: 150px;
    border-style: solid;
    border-color: #7C98B3;
}

.consoleTitle{
    color: #ffffff;
    background-color: #7C98B3;
    padding-left: 2%;
    
}

.container-fluid{
    width: 100%;
}
  </style>
  <div class="container-fluid">
    <div class="row firstRow">
       <!-- Title, description and output input fields -->
      <div class="col-md-4 description">
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{form.title(class="form-control form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                    {{form.description(rows="17", class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(rows="17", class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.output.label(class="form-control-label") }}
                {% if form.output.errors %}
                    {{form.output(class="form-control form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.output.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.output(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-success btn-lg") }}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger btn-lg float-right" data-toggle="modal" data-target="#cancelModal">
                    Cancel
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="cancelModalLabel">Are you sure?</h5>
                        </div>
                        <div class="modal-body">
                          All changes will be not be saved. Press <b>Continue</b> to stay on the page. Press <b>Discard</b> to discard all changes and return to account information.
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue</button>
                          <a href="{{url_for('account')}}"role="button" class="btn btn-danger">Discard</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </form>

      </div>
      <!-- End title, description and output input fields -->

      <!-- Code editor -->
      <div class="col-md-8">
        <div class="editor" id="editor">def dropcode:
  #This is an actual editor but your code will not be validated  
  code = "code would go here"
        </div>
      </div>
    </div>
    <!-- End code editor -->
    
    
    <div class="row">
      <div class="col-md-4 description"></div>
      <!-- Console -->
      <div class="col-md-8 console nopadding">
        <div class="consoleTitle">Console</div>
      </div>
      <!-- End Console -->
    </div>

  </div>    
  <script src="{{url_for('static', filename='js/ace.js')}}" type="text/javascript" charset="utf-8"></script>
  <script>
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/twilight");
      editor.session.setMode("ace/mode/python");
  </script>

{% endblock %}