
{% extends "template.html" %}
{% block content %}
<style>
    .mainColDiv {
  background-color : #FFF;
  border : 1px solid #7C98B3;
  border-radius : 22px;
  margin : 1% 1% 1% 4%;
  padding : 5%;
  width : 80%;
}
</style>
<div class="row mb-5 mt-5 pl-5">
    <div class="mainColDiv">
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="btn btn-blue mt-4" role="button"  style="width: 90%;">Single Player</a>
            </div>
            <div class="col-md-8">
                <p> In single player mode you are only allowed to complete challenges that are your current rank of {{ user.rank }} or lower. 
                        Challenges will be selected at random. Successfully completing a challenge in this mode will not allow you to rank up. 
                        If you exit a challenege before completion progress will not be saved.</p>
                </div>
        </div>    
    </div>
</div>
<div class="row pl-5">
    <div class="mainColDiv">
            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="btn btn-blue mt-5" role="button" style="width: 90%;">Multiplayer</a>
                </div>
                <div class="col-md-8">
                    <p> In multiplayer mode you will be paired with another player with the same rank of {{ user.rank }}. The same challenge will 
                        be given to both players at random and will both recieve the same time limit. If the time limit is reach and neither player has
                        complted the challenge both players will recieve a loss. If you complete the challenge before the other player you will win and be awarded
                    with a rank up.</p>
                    </div>
            </div>    
        </div>
</div>

{% endblock %}

